body {
    background-color: rgb(103, 103, 103);
    color:white;
    margin:0;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 24px;
    font-weight: bold;
}

.hidden {
    /* display: none; */
    visibility: hidden;
}

.crate {
    background:linear-gradient(rgb(11, 11, 148), #0C0C2C);
    width:500px;
    height: 750px;
    position:absolute;
    top:-27%;
    transform: scale(.05)
}

.popup, .popup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
    background:rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

li {
    font-size: 50px;
    border:5px solid white;
}

.popperup {
    background: lightcoral;
    position: absolute;
    text-align: center;
    padding:30px 10px;
    border:green solid 5px;
    width:600px;
    height: 300px;

}
.stinker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}