.body-page {
    background: #0c0c32;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.top-header {
    display:flex;
    justify-content: space-evenly;
    color:white;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    flex-flow: wrap;
}

.top-header h1 {
    font-size: 100px;
    margin:10px 0px;
    text-align: center;
    overflow-wrap: anywhere;
    text-shadow:3px 4px rgb(90, 90, 90);
}

.top-header p {
    font-size:40px;
    border: white solid 4px;
    padding:12px;
    height: 100%;
    white-space: nowrap;
}

.top-header .score {
    color:gold;
}

.entire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    text-align: center;
}

.col {
    font-family: sans-serif;
    font-weight: bold;
    margin:0;
}

.cat {
    color: white;
    font-size: 40px;
    border: 4px solid white;
    box-shadow: 6px 7px black;
    padding:10px 20px;
}

.points {
    font-size: 65px;
    color: gold;
    border: 5px solid gold;
    box-shadow: 6px 7px rgb(16, 16, 255);
    background: #101044;
    text-shadow: 2px 3px rgb(16, 16, 255);
    text-decoration: underline;
    margin: 30px 0px;
    padding: 38px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.points:hover {
    transform: scale(1.12);
    text-shadow: 0px 0px 10px rgb(26, 26, 255);
    box-shadow: 0px 0px 12px inset goldenrod;
    border: solid 5px yellow;
}

li {
    list-style: none;
}

.popup {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 99%;
    height: 99.7%;
    overflow: auto;
    background:linear-gradient(rgb(11, 11, 153), #17175a);
    position: absolute;
    left: 49.16%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 34.5px 0;
    visibility: hidden;
    transition: transform 0.5s, top 0.3s;
}

.open-pop, .open-pop2, .open-pop3, .open-pop4, .open-pop5, .open-pop21, .open-pop22, .open-pop23, .open-pop24, .open-pop25 {
    visibility: visible;
    top: 49%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:gold;
    border:gold solid 5px;
    max-width: 78vw;
    overflow-wrap: break-word;
    text-shadow: 0px 5px black;
    box-shadow: 5px 6px black;
    font-size: 84px;
    padding:20px;
    font-weight: bold;
    margin: 30px 0 10px;
}

.popup p {
    color: white;
    text-shadow: 0px 5px black;
    font-size: 60px;
}

.popup button {
    width:12%;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.7);
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}