body {
    background: #0c0c32;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.top-header {
    display:flex;
    justify-content: space-evenly;
    color:white;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    flex-flow: wrap;
}

.top-header h1 {
    font-size: 100px;
    margin:10px 0px;
    text-align: center;
    overflow-wrap: anywhere;
    text-shadow:3px 4px rgb(90, 90, 90);
}

.top-header p {
    font-size:40px;
    border: white solid 4px;
    padding:12px;
    height: 100%;
    white-space: nowrap;
}

.top-header .score {
    color:gold;
}
/* for every box? */
.entire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    text-align: center;
}
/* styling for column */
.col {
    font-family: sans-serif;
    font-weight: bold;
    width:275px;
    margin:0;
}
/* category for 1st cell of column */
/* renamed row-0 */
.row-0 {
    color: white;
    font-style: italic;
    background: #121253;
    text-align: center;
    font-size: 40px;
    border: 4px solid white;
    box-shadow: 6px 7px black;
    padding:10px 20px;
}
/* points on the question */
.points {
    font-size: 65px;
    color: gold;
    border: 5px solid gold;
    box-shadow: 6px 7px rgb(29, 29, 255);
    background: #121253;
    text-shadow: 2px 3px rgb(29, 29, 255);
    text-decoration: underline;
    margin: 30px 0px;
    padding: 38px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* when mouse hovers over points */
.points:hover {
    transform: scale(1.12);
    text-shadow: 0px 0px 10px rgb(26, 26, 255);
    box-shadow: 0px 0px 15px inset goldenrod;
    border: solid 5px yellow;
}

/* not needed */
li {
    list-style: none;
}

/* the popup when you click */
.popup {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 99%;
    height: 99.7%;
    overflow: auto;
    background:linear-gradient(rgb(11, 11, 153), #17175a);
    position: fixed;
    left: 49.16%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 34.5px 0;
    visibility: hidden;
    transition: transform 0.5s, top 0.3s;
}

.open-pop, .open-pop2, .open-pop3, .open-pop4, .open-pop5, .open-pop21, .open-pop22, .open-pop23, .open-pop24, .open-pop25,
 .open-pop31, .open-pop32, .open-pop33, .open-pop34, .open-pop35, .open-pop41, .open-pop42, .open-pop43, .open-pop44,
  .open-pop45, .open-pop51, .open-pop52,.open-pop53, .open-pop54, .open-pop55 {
    visibility: visible;
    top: 49%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:gold;
    border:gold solid 5px;
    max-width: 78vw;
    overflow-wrap: break-word;
    text-shadow: 0px 5px black;
    box-shadow: 5px 6px black;
    font-size: 84px;
    padding:20px;
    font-weight: bold;
    margin: 30px 0 10px;
}

.popup p {
    color: white;
    text-shadow: 0px 5px black;
    font-size: 60px;
}

.popup .prev {
    background: #121253;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 8px black;
    font-size: 42px;
    border: 4px solid gold;
    border-radius: 5px;
    box-shadow: 5px 6px black;
    padding:15px;
    margin-top:200px;
}

.prev:hover {
    border: 4px solid greenyellow;
    box-shadow: 0px 0px 10px greenyellow;
}

.ans {
    visibility: hidden;
}

.answer, .answer2, .answer3, .answer4, .answer5 {
    visibility: visible;
    color:greenyellow;
}

.popup button {
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 0;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.7);
    outline: none;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}