.body-page {
    background: linear-gradient(#2E2E3A, #0C0C2C);
    background-attachment: fixed;
    height: 100%;
}

.top-header {
    display:flex;
    justify-content: space-around;
    color:white;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 30px;
}

.top-header h1 {
    font-size: 100px;
    margin:10px 0px;
    text-shadow:3px 4px black;
}

.top-header p {
    font-size:40px;
    border: white solid 4px;
    padding:10px;
}

.top-header .score {
    color:gold;
}

.board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 8px black; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 65px;
}

.board .row1 {
    color:gold;
    margin:20px;
    padding:40px 90px;
    border: solid 5px gold;
    box-shadow: 9px 10px black;
    text-shadow: 2px 3px rgb(151, 112, 15);
    text-decoration: underline;
}

.board .first-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}